// @use './_variables.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('/fonts/Inter-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('/fonts/Inter-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/Inter-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Inter-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/Inter-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Inter-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('/fonts/Inter-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('/fonts/Inter-Black.ttf') format('truetype');
}

.simplebar-content {
  height: 100% !important;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

html {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 48px;

  @media screen and (max-width: $screen-sm) {
    font-size: 28px;
  }
}

h2 {
  font-size: 36px;

  @media screen and (max-width: $screen-sm) {
    font-size: 24px;
  }
}

h3 {
  font-size: 30px;

  @media screen and (max-width: $screen-sm) {
    font-size: 24px;
  }
}

h4 {
  font-size: 20px;

  @media screen and (max-width: $screen-sm) {
    font-size: 18px;
  }
}

h5 {
  font-size: 18px;
}

.container-public {
  margin: 0 auto;
  max-width: 1440px;
}

.main-page {
  width: 100%;
}

.main-app-wrapper {
  height: 100vh;
  display: flex;
}

.section-break {
  margin: 0;
  padding: 0;
  margin-top: -1px;
  background: #c3c4ca;
}

.secondary-btn--light-blue {
  background: transparent !important;
  color: #474d66;
  border: none !important;

  &.active {
    color: #3366ff;
    background: #ebf0ff !important;
  }

  &:hover {
    color: #3366ff;
    background: #ebf0ff !important;
  }
}

.--danger {
  background-color: $intent-danger;
}

.--warning {
  background-color: $intent-warning;
}

.--success {
  background-color: $intent-success;
}

.--success-v2 {
  background-color: $intent-success-v2;
}

.--success-v3 {
  background-color: $intent-success-v3;
}

.--success-v4 {
  background-color: $intent-success-v4;
}

.--success-v5 {
  background-color: #a4e5ce;
}

.--success-v6 {
  background-color: #46dda7;
}

.p-400 {
  font-size: 14px;
  font-weight: 500;
  color: $p-400-color;
  padding: 0;
  margin: 0;
}

.custom-dropdown-btn {
  font-weight: 500 !important;
  background: #edeff5 !important;
  text-transform: uppercase;
}

.--color-filter-by-icon {
  svg {
    fill: #8f95b2;
  }
}

.custom-menu-item.active {
  background-color: rgba(255, 255, 255, 0.1);
}

.custom-menu-item.active-campaign {
  background-color: #FFFFFF40;
}

.absolute {
  position: absolute;
}

.fixed-categorize-menu {
  box-shadow: 0px -2px 12px 1px rgba(0, 0, 0, 0.07);
}

.shepherd-header {
  position: absolute;
  border-radius: 5px !important;
  right: 0;
  background: #374151 !important;
}

.shepherd-cancel-icon {
  font-size: 25px !important;
}

.shepherd-title {
  display: none !important;
}

.shepherd-theme-custom {
  font-family: Inter !important;
}

.onboarding-custom {
  display: flex;
  align-items: center;
  flex-direction: column;

  div {
    display: block;
  }

  img {
    margin-bottom: 25px;
  }

  .title {
    align-self: flex-start;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 16px;
    color: white !important;

    &.mb-0 {
      margin-bottom: 0 !important;
    }

    &.blue {
      margin-bottom: 0;
      color: #0ea5e9 !important;
    }

    &.green {
      margin-bottom: 0;
      color: #10b981 !important;
    }

    &.orange {
      margin-bottom: 0;
      color: #fb923c !important;
    }

    &.red {
      margin-bottom: 0;
      color: #ef4444 !important;
    }
  }

  .description {
    margin-bottom: 16px;
    align-self: flex-start;
    font-weight: 500;
    color: #e5e7eb !important;
  }
}

.shepherd-enabled.shepherd-element {
  max-width: 315px !important;
  margin-left: 15px !important;
}

.shepherd-has-title .shepherd-content .shepherd-header {
  padding: 0.75em !important;
  background: #374151 !important;
}

.shepherd-content {
  padding-top: 10px !important;
  background: #374151 !important;
}

.shepherd-arrow:before {
  background: #374151 !important;
}

.shepherd-text,
.shepherd-footer {
  background: #374151 !important;
}

.shepherd-text {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 8px !important;
}

.shepherd-button-primary {
  position: relative;
  background: transparent !important;
  color: #0ea5e9 !important;
  text-transform: uppercase;
  padding-right: 40px !important;

  &:after {
    height: 15px;
    width: 15px;
    content: '';
    position: absolute;
    right: 15px;
    background-image: url('/images/arrow-right.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: 50%;
    transform: translateY(-50%);
  }

  &.back {
    padding-right: 0px !important;
    padding-left: 40px !important;

    &:after {
      left: 15px;
      background-image: url('/images/arrow-left.svg');
    }
  }

  &.last {
    padding-right: 10px !important;

    &:after {
      display: none;
      content: '';
    }
  }
}

.transformDropdown {
  transform: translateX(-158px) !important;
}

.shepherd-cancel-icon {
  line-height: 0.6 !important;
}

.onboarding-progress {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  padding-left: 15px;
  color: #9ca3af;
  font-size: 14px;
}

.sort {
  fill: gray;
}

.layout-fixed-height {
  height: calc(100vh - 70px) !important;
}

.details-tabs-fixed-height {
  height: calc(100vh - 170px) !important;
}

.details-campaign-fixed-height {
  height: calc(100vh - 295px) !important;
}

.campaigns-custom-height {
  height: calc(100vh - 76px - 68px) !important;
}

.contact-column-custom-height {
  height: calc(100vh - 224px) !important;
}

#launcher-frame {
  top: 9px;
  right: 275px;
  display: none;
  min-width: 98px !important;
  max-width: 98px !important;
  height: 53px !important;
  bottom: 55px !important;
  opacity: 0.5 !important;
}

.contact-campaigns-fixed-height {
  height: calc(100vh - 146px) !important;
}

.item-enter {
  opacity: 0;
  transform: translateX(100%);
}

.item-enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: all 500ms ease-in;
}

.item-exit {
  opacity: 1;
  transform: translateX(0);
  transition: all 500ms ease;
}

.item-exit-active {
  opacity: 0;
  transform: translateX(400px);
  transition: all 500ms ease-in;
}

tbody > div {
  display: contents !important;
}

.item-reverse-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.item-reverse-enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: all 500ms ease-in;
}

.item-reverse-exit {
  opacity: 1;
  transform: translateX(0);
  transition: all 500ms ease;
}

.item-reverse-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 500ms ease-in;
}

.properties-container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.next-image span {
  height: 100% !important;
  width: 100% !important;
}

.clipPath {
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
}

.d-webkit {
  display: -webkit-inline-box;
}

.map-container {
  height: 500px;
  width: 100%;
}

.min-h-custom {
  min-height: calc(100vh - 295px) !important;
}

.email-summary-styling {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 3.6rem;
  text-align: left;
  word-break: break-word;
}

.ellipsis-email {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fade-enter {
  opacity: 1;
}

.fade-enter-active {
  opacity: 1;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.overlay-entering,
.overlay-exiting,
.overlay-exited {
  opacity: 0;
  display: none;
  transition: opacity 300ms ease-in-out;
}

.overlay-entered {
  opacity: 1;
  display: block;
  transition: opacity 300ms ease-in-out;
}

.TooltipContent {
  border-radius: 8px;
  background-color: #474d66;
  user-select: none;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
  border: 1px solid #474d66;
  outline-color: #474d66;
}

.TooltipContent[data-state='delayed-open'][data-side='top'] {
  animation-name: slideDownAndFade;
}

.TooltipContent[data-state='delayed-open'][data-side='right'] {
  animation-name: slideLeftAndFade;
}

.TooltipContent[data-state='delayed-open'][data-side='bottom'] {
  animation-name: slideUpAndFade;
}

.TooltipContent[data-state='delayed-open'][data-side='left'] {
  animation-name: slideRightAndFade;
}

.TooltipArrow {
  fill: #474d66;
  height: 8px;
  width: 18px;
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.main-menu-important {
  background: #0fa2ea !important;
}

.absoluteWidth {
  width: 92% !important;
}

.swiper-button-prev {
  background-color: #00000099 !important;
  height: 56px !important;
  width: 56px !important;
  border-radius: 50% !important;
  left: 20px !important;
  color: white !important;
}

.swiper-button-next {
  background-color: #00000099 !important;
  height: 56px !important;
  width: 56px !important;
  border-radius: 50% !important;
  right: 20px !important;
  color: white !important;
}

.swiper-button-prev::after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium text-white md:text-2xl text-sm css-i4bv87-MuiSvgIcon-root" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="ArrowBackIcon"><path fill="white" d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"></path></svg>') !important;
  display: block;
  height: 24px;
  width: 24px;
  margin-top: -30px;
  color: white !important;
}

.swiper-button-next::after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium text-white md:text-2xl text-sm css-i4bv87-MuiSvgIcon-root" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="ArrowForwardIcon"><path fill="white" d="m12 4-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"></path></svg>') !important;
  display: block !important;
  height: 24px;
  width: 24px;
  margin-top: -30px;
  color: white !important;
}

.dropdown-container {
  border-radius: 6px !important;
  height: 38px !important;
  width: 300px !important;
}

.dropdown-heading-value {
  font-size: 14px;

  span {
    color: #808080 !important;
  }
}

.dropdown-heading-value span:not(.gray) {
  color: #1f2937 !important;
}

.select-item {
  font-size: 14px !important;
}

.item-renderer input {
  border-color: #808080 !important;
  border-radius: 4px !important;
  color: #0ea5e9;
}

.item-renderer input:checked {
  border: none !important;
}

.item-renderer input:focus {
  outline: none !important;
  box-shadow: none !important;
}

.rmsc .item-renderer {
  align-items: center !important;
}

.rmsc .search {
  font-size: 14px !important;
}

.rmsc .search input:focus {
  background: none !important;
}

.rmsc .select-item.selected {
  background: none !important;
}

.no-options {
  font-size: 14px !important;
}

.dropdown-container {
  width: 400px !important;
}

.rmsc {
  --rmsc-main: #4285f4;
  --rmsc-hover: #f1f3f5;
  --rmsc-selected: #e2e6ea;
  --rmsc-border: red;
  --rmsc-gray: #aaa;
  --rmsc-bg: #fff;
  --rmsc-p: 10px; /* Spacing */
  --rmsc-radius: 4px; /* Radius */
  --rmsc-h: 38px; /* Height */
}

.custom-box-shadow {
  box-shadow: 0px 20px 25px -5px #0000001a;
}

.arrow {
  transition: all 0.3s ease;
  position: absolute;
  right: 70px;
  top: 45%;
  transform: rotate(270deg);
  cursor: pointer;
}

.arrow span {
  display: block;
  width: 15px;
  height: 15px;
  border-bottom: 3px solid rgb(145, 145, 145);
  border-right: 3px solid rgb(145, 145, 145);
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
  border-radius: 2px;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

.floatingAlert-enter {
  opacity: 0;
  transform: translateX(100%);
}

.floatingAlert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}

.floatingAlert-exit {
  opacity: 1;
  transform: translateX(0);
}

.floatingAlert-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}

@media (max-width: 769px) {
  .pagination-dots-custom {
    content-visibility: hidden;
  }
}



::-webkit-scrollbar-thumb {
  background: rgba(185, 185, 185, 0.9);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  width: 5px;
}

.campaigns-box-shadow {
  box-shadow: 0px 0px 20px 0px #E1E2E3;
}