// @use './_variables.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('/fonts/Inter-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('/fonts/Inter-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/Inter-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Inter-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/Inter-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Inter-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('/fonts/Inter-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('/fonts/Inter-Black.ttf') format('truetype');
}

.simplebar-content {
  height: 100% !important;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

html {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 48px;

  @media screen and (max-width: $screen-sm) {
    font-size: 28px;
  }
}

h2 {
  font-size: 36px;

  @media screen and (max-width: $screen-sm) {
    font-size: 24px;
  }
}

h3 {
  font-size: 30px;

  @media screen and (max-width: $screen-sm) {
    font-size: 24px;
  }
}

h4 {
  font-size: 20px;

  @media screen and (max-width: $screen-sm) {
    font-size: 18px;
  }
}

h5 {
  font-size: 18px;
}

.container-public {
  margin: 0 auto;
  max-width: 1440px;
}

.main-page {
  width: 100%;
}

.main-app-wrapper {
  height: 100vh;
  display: flex;
}

.section-break {
  margin: 0;
  padding: 0;
  margin-top: -1px;
  background: #c3c4ca;
}

.secondary-btn--light-blue {
  background: transparent !important;
  color: #474d66;
  border: none !important;

  &.active {
    color: #3366ff;
    background: #ebf0ff !important;
  }

  &:hover {
    color: #3366ff;
    background: #ebf0ff !important;
  }
}

.--danger {
  background-color: $intent-danger;
}

.--warning {
  background-color: $intent-warning;
}

.--success {
  background-color: $intent-success;
}

.--success-v2 {
  background-color: $intent-success-v2;
}

.--success-v3 {
  background-color: $intent-success-v3;
}

.--success-v4 {
  background-color: $intent-success-v4;
}

.--success-v5 {
  background-color: #a4e5ce;
}

.--success-v6 {
  background-color: #46dda7;
}

.p-400 {
  font-size: 14px;
  font-weight: 500;
  color: $p-400-color;
  padding: 0;
  margin: 0;
}

.custom-dropdown-btn {
  font-weight: 500 !important;
  background: #edeff5 !important;
  text-transform: uppercase;
}

.--color-filter-by-icon {
  svg {
    fill: #8f95b2;
  }
}

.custom-menu-item.active {
  background-color: rgba(255, 255, 255, 0.1);
}

.custom-menu-item.active-campaign {
  background-color: #ffffff40;
}

.absolute {
  position: absolute;
}

.fixed-categorize-menu {
  box-shadow: 0px -2px 12px 1px rgba(0, 0, 0, 0.07);
}

.shepherd-header {
  position: absolute;
  border-radius: 5px !important;
  right: 0;
  background: #374151 !important;
}

.shepherd-cancel-icon {
  font-size: 25px !important;
}

.shepherd-title {
  display: none !important;
}

.shepherd-theme-custom {
  font-family: Inter !important;
}

.onboarding-custom {
  display: flex;
  align-items: center;
  flex-direction: column;

  div {
    display: block;
  }

  img {
    margin-bottom: 25px;
  }

  .title {
    align-self: flex-start;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 16px;
    color: white !important;

    &.mb-0 {
      margin-bottom: 0 !important;
    }

    &.blue {
      margin-bottom: 0;
      color: #0ea5e9 !important;
    }

    &.green {
      margin-bottom: 0;
      color: #10b981 !important;
    }

    &.orange {
      margin-bottom: 0;
      color: #fb923c !important;
    }

    &.red {
      margin-bottom: 0;
      color: #ef4444 !important;
    }
  }

  .description {
    margin-bottom: 16px;
    align-self: flex-start;
    font-weight: 500;
    color: #e5e7eb !important;
  }
}

.shepherd-enabled.shepherd-element {
  max-width: 315px !important;
  margin-left: 15px !important;
}

.shepherd-has-title .shepherd-content .shepherd-header {
  padding: 0.75em !important;
  background: #374151 !important;
}

.shepherd-content {
  padding-top: 10px !important;
  background: #374151 !important;
}

.shepherd-arrow:before {
  background: #374151 !important;
}

.shepherd-text,
.shepherd-footer {
  background: #374151 !important;
}

.shepherd-text {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 8px !important;
}

.shepherd-button-primary {
  position: relative;
  background: transparent !important;
  color: #0ea5e9 !important;
  text-transform: uppercase;
  padding-right: 40px !important;

  &:after {
    height: 15px;
    width: 15px;
    content: '';
    position: absolute;
    right: 15px;
    background-image: url('/images/arrow-right.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: 50%;
    transform: translateY(-50%);
  }

  &.back {
    padding-right: 0px !important;
    padding-left: 40px !important;

    &:after {
      left: 15px;
      background-image: url('/images/arrow-left.svg');
    }
  }

  &.last {
    padding-right: 10px !important;

    &:after {
      display: none;
      content: '';
    }
  }
}

.transformDropdown {
  transform: translateX(-158px) !important;
}

.shepherd-cancel-icon {
  line-height: 0.6 !important;
}

.onboarding-progress {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  padding-left: 15px;
  color: #9ca3af;
  font-size: 14px;
}

.sort {
  fill: gray;
}

.layout-fixed-height {
  height: calc(100vh - 70px) !important;
}

.details-tabs-fixed-height {
  height: calc(100vh - 170px) !important;
}

.details-campaign-fixed-height {
  height: calc(100vh - 295px) !important;
}

.campaigns-custom-height {
  height: calc(100vh - 76px - 68px) !important;
}

.contact-column-custom-height {
  height: calc(100vh - 224px) !important;
}

#launcher-frame {
  top: 9px;
  right: 275px;
  display: none;
  min-width: 98px !important;
  max-width: 98px !important;
  height: 53px !important;
  bottom: 55px !important;
  opacity: 0.5 !important;
}

.contact-campaigns-fixed-height {
  height: calc(100vh - 146px) !important;
}

.item-enter {
  opacity: 0;
  transform: translateX(100%);
}

.item-enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: all 500ms ease-in;
}

.item-exit {
  opacity: 1;
  transform: translateX(0);
  transition: all 500ms ease;
}

.item-exit-active {
  opacity: 0;
  transform: translateX(400px);
  transition: all 500ms ease-in;
}

tbody > div {
  display: contents !important;
}

.item-reverse-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.item-reverse-enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: all 500ms ease-in;
}

.item-reverse-exit {
  opacity: 1;
  transform: translateX(0);
  transition: all 500ms ease;
}

.item-reverse-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 500ms ease-in;
}

.properties-container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.next-image span {
  height: 100% !important;
  width: 100% !important;
}

.clipPath {
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
}

.d-webkit {
  display: -webkit-inline-box;
}

.map-container {
  height: 500px;
  width: 100%;
}

.min-h-custom {
  min-height: calc(100vh - 295px) !important;
}

.email-summary-styling {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 3.6rem;
  text-align: left;
  word-break: break-word;
}

.ellipsis-email {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fade-enter {
  opacity: 1;
}

.fade-enter-active {
  opacity: 1;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.overlay-entering,
.overlay-exiting,
.overlay-exited {
  opacity: 0;
  display: none;
  transition: opacity 300ms ease-in-out;
}

.overlay-entered {
  opacity: 1;
  display: block;
  transition: opacity 300ms ease-in-out;
}

.TooltipContent {
  border-radius: 8px;
  background-color: #474d66;
  user-select: none;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
  border: 1px solid #474d66;
  outline-color: #474d66;
}

.TooltipContent[data-state='delayed-open'][data-side='top'] {
  animation-name: slideDownAndFade;
}

.TooltipContent[data-state='delayed-open'][data-side='right'] {
  animation-name: slideLeftAndFade;
}

.TooltipContent[data-state='delayed-open'][data-side='bottom'] {
  animation-name: slideUpAndFade;
}

.TooltipContent[data-state='delayed-open'][data-side='left'] {
  animation-name: slideRightAndFade;
}

.TooltipArrow {
  fill: #474d66;
  height: 8px;
  width: 18px;
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.main-menu-important {
  background: #0fa2ea !important;
}

.absoluteWidth {
  width: 92% !important;
}

.swiper-button-prev {
  background-color: #00000099 !important;
  height: 56px !important;
  width: 56px !important;
  border-radius: 50% !important;
  left: 20px !important;
  color: white !important;
}

.swiper-button-next {
  background-color: #00000099 !important;
  height: 56px !important;
  width: 56px !important;
  border-radius: 50% !important;
  right: 20px !important;
  color: white !important;
}

.swiper-button-prev::after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium text-white md:text-2xl text-sm css-i4bv87-MuiSvgIcon-root" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="ArrowBackIcon"><path fill="white" d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"></path></svg>') !important;
  display: block;
  height: 24px;
  width: 24px;
  margin-top: -30px;
  color: white !important;
}

.swiper-button-next::after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium text-white md:text-2xl text-sm css-i4bv87-MuiSvgIcon-root" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="ArrowForwardIcon"><path fill="white" d="m12 4-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"></path></svg>') !important;
  display: block !important;
  height: 24px;
  width: 24px;
  margin-top: -30px;
  color: white !important;
}

.dropdown-container {
  border-radius: 0.5rem !important;
  height: 38px !important;
  width: 300px !important;
  // border: 1px solid #D1D5DB;
}

.dropdown-heading-value {
  font-size: 0.8rem !important;

  span {
    color: #808080 !important;
  }
}

.custom-richtext-select .dropdown-heading-value {
  font-size: 12px;

  span {
    color: black !important;
  }
}

.dropdown-heading-value span:not(.gray) {
  color: #1f2937 !important;
}

.select-item {
  font-size: 14px !important;
}

.item-renderer input {
  border-color: #bebebe !important;
  border-radius: 4px !important;
  color: #0ea5e9;
}

.item-renderer input:checked {
  border: none !important;
}

.item-renderer input:focus {
  outline: none !important;
  box-shadow: none !important;
}

.rmsc .item-renderer {
  align-items: center !important;
}

.rmsc .search {
  font-size: 14px !important;
}

.rmsc .search input:focus {
  background: none !important;
}

.rmsc .select-item.selected {
  background: none !important;
}

.no-options {
  font-size: 14px !important;
}

.dropdown-container {
  width: 400px !important;
}

.rmsc {
  --rmsc-main: #4285f4;
  --rmsc-hover: #f1f3f5;
  --rmsc-selected: #e2e6ea;
  --rmsc-border: red;
  --rmsc-gray: #aaa;
  --rmsc-bg: #fff;
  --rmsc-p: 10px; /* Spacing */
  --rmsc-radius: 4px; /* Radius */
  --rmsc-h: 38px; /* Height */
}

.custom-box-shadow {
  box-shadow: 0px 20px 25px -5px #0000001a;
}

.arrow {
  transition: all 0.3s ease;
  position: absolute;
  right: 70px;
  top: 45%;
  transform: rotate(270deg);
  cursor: pointer;
}

.arrow span {
  display: block;
  width: 15px;
  height: 15px;
  border-bottom: 3px solid rgb(145, 145, 145);
  border-right: 3px solid rgb(145, 145, 145);
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
  border-radius: 2px;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

.floatingAlert-enter {
  opacity: 0;
  transform: translateX(100%);
}

.floatingAlert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition:
    opacity 500ms ease-in-out,
    transform 500ms ease-in-out;
}

.floatingAlert-exit {
  opacity: 1;
  transform: translateX(0);
}

.floatingAlert-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition:
    opacity 500ms ease-in-out,
    transform 500ms ease-in-out;
}

@media (max-width: 769px) {
  .pagination-dots-custom {
    content-visibility: hidden !important;
  }
}

::-webkit-scrollbar-thumb {
  background: rgba(185, 185, 185, 0.9);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  width: 5px;
}

.campaigns-box-shadow {
  box-shadow: 0px 0px 20px 0px #e1e2e3;
}

.custom-box-shadow {
  box-shadow: 0px 4px 6px -2px #0000000d;
}

.custom-box-shadow-2 {
  box-shadow: 0px -4px 31px 0px #bdbdbd40;
}

.communication-box-shadow {
  box-shadow: 7px 4px 23px -1px rgba(204, 204, 204, 0.25);
}

.shadowCustom {
  box-shadow: 0px 4px 21px 0px rgba(0, 0, 0, 0.25);
}

.client-details-box-shadow {
  box-shadow: 0px 5px 18px 0px #f4f4f4;
}

.client-details-info-shadow {
  box-shadow: 0px 1px 2px 0px #1018280d;
}

.rmsc .dropdown-container {
  max-width: 300px !important;
  min-width: 70px !important;
}

@media (max-width: 1200px) {
  .rmsc .dropdown-container {
    max-width: 100px !important;
  }
}

.rmsc .dropdown-container {
  width: 100% !important;
  max-width: 100% !important;
}

.panel-content {
  max-height: 250px !important;
}

.loader {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}

.loader::before,
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 3px solid #0057ff;
  animation: prixClipFix 2s linear infinite;
}

.loader::after {
  transform: rotate3d(90, 90, 0, 180deg);
  border-color: #efeeee;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  75%,
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
}

.ltr {
  text-align: left;
}

.rtl {
  text-align: right;
}

.editor-container {
  margin: 0;
  border-radius: 2px;
  max-width: 100%;
  color: #000;
  position: relative;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.editor-inner {
  background: #fff;
  position: relative;
}

.editor-input {
  min-height: 150px;
  resize: none;
  font-size: 15px;
  caret-color: rgb(5, 5, 5);
  position: relative;
  tab-size: 1;
  outline: 0;
  padding: 15px 10px;
  caret-color: #444;
}

.editor-placeholder {
  color: #999;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 15px;
  left: 10px;
  font-size: 15px;
  user-select: none;
  display: inline-block;
  pointer-events: none;
}

.editor-text-bold {
  font-weight: bold;
}

.editor-text-italic {
  font-style: italic;
}

.editor-text-underline {
  text-decoration: underline;
}

.editor-text-strikethrough {
  text-decoration: line-through;
}

.editor-text-underlineStrikethrough {
  text-decoration: underline line-through;
}

.editor-text-code {
  background-color: rgb(240, 242, 245);
  padding: 1px 0.25rem;
  font-family: Menlo, Consolas, Monaco, monospace;
  font-size: 94%;
}

.editor-link {
  color: rgb(33, 111, 219);
  text-decoration: none;
}

.tree-view-output {
  display: block;
  background: #222;
  color: #fff;
  padding: 5px;
  font-size: 12px;
  white-space: pre-wrap;
  margin: 1px auto 10px auto;
  max-height: 250px;
  position: relative;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: auto;
  line-height: 14px;
}

.editor-code {
  background-color: rgb(240, 242, 245);
  font-family: Menlo, Consolas, Monaco, monospace;
  display: block;
  padding: 8px 8px 8px 52px;
  line-height: 1.53;
  font-size: 13px;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  tab-size: 2;
  /* white-space: pre; */
  overflow-x: auto;
  position: relative;
}

.editor-code:before {
  content: attr(data-gutter);
  position: absolute;
  background-color: #eee;
  left: 0;
  top: 0;
  border-right: 1px solid #ccc;
  padding: 8px;
  color: #777;
  white-space: pre-wrap;
  text-align: right;
  min-width: 25px;
}

.editor-code:after {
  content: attr(data-highlight-language);
  top: 0;
  right: 3px;
  padding: 3px;
  font-size: 10px;
  text-transform: uppercase;
  position: absolute;
  color: rgba(0, 0, 0, 0.5);
}

.editor-tokenComment {
  color: slategray;
}

.editor-tokenPunctuation {
  color: #999;
}

.editor-tokenProperty {
  color: #905;
}

.editor-tokenSelector {
  color: #690;
}

.editor-tokenOperator {
  color: #9a6e3a;
}

.editor-tokenAttr {
  color: #07a;
}

.editor-tokenVariable {
  color: #e90;
}

.editor-tokenFunction {
  color: #dd4a68;
}

.editor-paragraph {
  margin: 0;
  margin-bottom: 8px;
  position: relative;
}

.editor-paragraph:last-child {
  margin-bottom: 0;
}

.editor-heading-h1 {
  font-size: 24px;
  color: rgb(5, 5, 5);
  font-weight: 400;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
}

.editor-heading-h2 {
  font-size: 15px;
  color: rgb(101, 103, 107);
  font-weight: 700;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  text-transform: uppercase;
}

.editor-quote {
  margin: 0;
  margin-left: 20px;
  font-size: 15px;
  color: rgb(101, 103, 107);
  border-left-color: rgb(206, 208, 212);
  border-left-width: 4px;
  border-left-style: solid;
  padding-left: 16px;
}

.editor-list-ol {
  padding: 0;
  margin: 0;
  margin-left: 16px;
}

.editor-list-ul {
  padding: 0;
  margin: 0;
  margin-left: 16px;
}

.editor-listitem {
  margin: 8px 32px 8px 32px;
}

.editor-nested-listitem {
  list-style-type: none;
}

pre::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

pre::-webkit-scrollbar-thumb {
  background: #999;
}

.debug-timetravel-panel {
  overflow: hidden;
  padding: 0 0 10px 0;
  margin: auto;
  display: flex;
}

.debug-timetravel-panel-slider {
  padding: 0;
  flex: 8;
}

.debug-timetravel-panel-button {
  padding: 0;
  border: 0;
  background: none;
  flex: 1;
  color: #fff;
  font-size: 12px;
}

.debug-timetravel-panel-button:hover {
  text-decoration: underline;
}

.debug-timetravel-button {
  border: 0;
  padding: 0;
  font-size: 12px;
  top: 10px;
  right: 15px;
  position: absolute;
  background: none;
  color: #fff;
}

.debug-timetravel-button:hover {
  text-decoration: underline;
}

.emoji {
  color: transparent;
  background-size: 16px 16px;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin: 0 -1px;
}

.emoji-inner {
  padding: 0 0.15em;
}

.emoji-inner::selection {
  color: transparent;
  background-color: rgba(150, 150, 150, 0.4);
}

.emoji-inner::moz-selection {
  color: transparent;
  background-color: rgba(150, 150, 150, 0.4);
}

.emoji.happysmile {
  background-image: url('/images/emoji/1F642.png');
}

.toolbar {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1px;
  background: #fff;
  padding: 4px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  vertical-align: middle;
}

.toolbar button.toolbar-item {
  border: 0;
  display: flex;
  background: none;
  border-radius: 10px;
  padding: 4px;
  cursor: pointer;
  vertical-align: middle;
}

.toolbar button.toolbar-item:disabled {
  cursor: not-allowed;
}

.toolbar button.toolbar-item.spaced {
  margin-right: 2px;
}

.toolbar button.toolbar-item i.format {
  background-size: contain;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin-top: 2px;
  vertical-align: -0.25em;
  display: flex;
  opacity: 0.6;
}

.toolbar button.toolbar-item:disabled i.format {
  opacity: 0.2;
}

.toolbar button.toolbar-item.active {
  background-color: rgba(223, 232, 250, 0.3);
}

.toolbar button.toolbar-item.active i {
  opacity: 1;
}

.toolbar .toolbar-item:hover:not([disabled]) {
  background-color: #eee;
}

.toolbar .divider {
  width: 1px;
  background-color: #eee;
  margin: 0 4px;
}

.toolbar select.toolbar-item {
  border: 0;
  display: flex;
  background: none;
  border-radius: 10px;
  padding: 8px;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 70px;
  font-size: 14px;
  color: #777;
  text-overflow: ellipsis;
}

.toolbar select.code-language {
  text-transform: capitalize;
  width: 130px;
}

.toolbar .toolbar-item .text {
  display: flex;
  line-height: 20px;
  width: 200px;
  vertical-align: middle;
  font-size: 14px;
  color: #777;
  text-overflow: ellipsis;
  width: 70px;
  overflow: hidden;
  height: 20px;
  text-align: left;
}

.toolbar .toolbar-item .icon {
  display: flex;
  width: 20px;
  height: 20px;
  user-select: none;
  margin-right: 8px;
  line-height: 16px;
  background-size: contain;
}

.toolbar i.chevron-down {
  margin-top: 3px;
  width: 16px;
  height: 16px;
  display: flex;
  user-select: none;
}

.toolbar i.chevron-down.inside {
  width: 16px;
  height: 16px;
  display: flex;
  margin-left: -25px;
  margin-top: 11px;
  margin-right: 10px;
  pointer-events: none;
}

i.chevron-down {
  background-color: transparent;
  background-size: contain;
  display: inline-block;
  height: 8px;
  width: 8px;
  background-image: url(/images/icons/chevron-down.svg);
}

#block-controls button:hover {
  background-color: #efefef;
}

#block-controls button:focus-visible {
  border-color: blue;
}

#block-controls span.block-type {
  background-size: contain;
  display: block;
  width: 18px;
  height: 18px;
  margin: 2px;
}

#block-controls span.block-type.paragraph {
  background-image: url(/images/icons/text-paragraph.svg);
}

#block-controls span.block-type.h1 {
  background-image: url(/images/icons/type-h1.svg);
}

#block-controls span.block-type.h2 {
  background-image: url(/images/icons/type-h2.svg);
}

#block-controls span.block-type.quote {
  background-image: url(/images/icons/chat-square-quote.svg);
}

#block-controls span.block-type.ul {
  background-image: url(/images/icons/list-ul.svg);
}

#block-controls span.block-type.ol {
  background-image: url(/images/icons/list-ol.svg);
}

#block-controls span.block-type.code {
  background-image: url(/images/icons/code.svg);
}

.dropdown {
  z-index: 5;
  display: block;
  position: absolute;
  box-shadow:
    0 12px 28px 0 rgba(0, 0, 0, 0.2),
    0 2px 4px 0 rgba(0, 0, 0, 0.1),
    inset 0 0 0 1px rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  min-width: 100px;
  min-height: 40px;
  background-color: #fff;
}

.dropdown .item {
  margin: 0 8px 0 8px;
  padding: 8px;
  color: #050505;
  cursor: pointer;
  line-height: 16px;
  font-size: 14px;
  display: flex;
  align-content: center;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 8px;
  border: 0;
  min-width: 268px;
}

.dropdown .item .active {
  display: flex;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-image: url('/images/checkmark.svg');
}

.dropdown .item:first-child {
  margin-top: 8px;
}

.dropdown .item:last-child {
  margin-bottom: 8px;
}

.dropdown .item:hover {
  background-color: #eee;
}

.dropdown .item .text {
  display: flex;
  line-height: 20px;
  flex-grow: 1;
  width: 200px;
}

.dropdown .item .icon {
  display: flex;
  width: 20px;
  height: 20px;
  user-select: none;
  margin-right: 12px;
  line-height: 16px;
  background-size: contain;
}

.link-editor {
  position: absolute;
  z-index: 100;
  top: -10000px;
  left: -10000px;
  margin-top: -6px;
  max-width: 300px;
  width: 100%;
  opacity: 0;
  background-color: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  transition: opacity 0.5s;
}

.link-editor .link-input {
  display: block;
  width: calc(100% - 24px);
  box-sizing: border-box;
  margin: 8px 12px;
  padding: 8px 12px;
  border-radius: 15px;
  background-color: #eee;
  font-size: 15px;
  color: rgb(5, 5, 5);
  border: 0;
  outline: 0;
  position: relative;
  font-family: inherit;
}

.link-editor div.link-edit {
  background-image: url(/images/icons/pencil-fill.svg);
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  width: 35px;
  vertical-align: -0.25em;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
}

.link-editor .link-input a {
  color: rgb(33, 111, 219);
  text-decoration: none;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 30px;
  text-overflow: ellipsis;
}

.link-editor .link-input a:hover {
  text-decoration: underline;
}

.link-editor .button {
  width: 20px;
  height: 20px;
  display: inline-block;
  padding: 6px;
  border-radius: 8px;
  cursor: pointer;
  margin: 0 2px;
}

.link-editor .button.hovered {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: #eee;
}

.link-editor .button i,
.actions i {
  background-size: contain;
  display: inline-block;
  height: 20px;
  width: 20px;
  vertical-align: -0.25em;
}

i.undo {
  background-image: url('/images/icons/arrow-counterclockwise.svg');
}

i.redo {
  background-image: url('/images/icons/arrow-clockwise.svg');
}

.icon.paragraph {
  background-image: url('/images/icons/text-paragraph.svg');
}

.icon.large-heading,
.icon.h1 {
  background-image: url('/images/icons/type-h1.svg');
}

.icon.small-heading,
.icon.h2 {
  background-image: url('/images/icons/type-h2.svg');
}

.icon.bullet-list,
.icon.ul {
  background-image: url('/images/icons/list-ul.svg');
}

.icon.numbered-list,
.icon.ol {
  background-image: url('/images/icons/list-ol.svg');
}

.icon.quote {
  background-image: url('/images/icons/chat-square-quote.svg');
}

.icon.code {
  background-image: url('/images/icons/code.svg');
}

i.bold {
  background-image: url('/images/icons/type-bold.svg');
}

i.italic {
  background-image: url('/images/icons/type-italic.svg');
}

i.underline {
  background-image: url('/images/icons/type-underline.svg');
}

i.strikethrough {
  background-image: url('/images/icons/type-strikethrough.svg');
}

i.code {
  background-image: url('/images/icons/code.svg');
}

i.link {
  background-image: url('/images/icons/link.svg');
}

i.left-align {
  background-image: url('/images/icons/text-left.svg');
}

i.center-align {
  background-image: url('/images/icons/text-center.svg');
}

i.right-align {
  background-image: url('/images/icons/text-right.svg');
}

i.justify-align {
  background-image: url('/images/icons/justify.svg');
}

.other h2 {
  font-size: 18px;
  color: #444;
  margin-bottom: 7px;
}

.other ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.editor-input ol {
  list-style: auto !important;
}

.editor-input ul {
  list-style: inherit !important;
}

.loader {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}

.loader::before,
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 3px solid #0057ff;
  animation: prixClipFix 2s linear infinite;
}

.loader::after {
  transform: rotate3d(90, 90, 0, 180deg);
  border-color: #efeeee;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  75%,
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
}

//online forms templates editor styles
.templates-editor-heading-h2 {
  font-size: 20px;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.templates-editor-list-ol {
  padding: 0;
  margin: 0;
  margin-left: 16px;
  list-style-type: decimal;
}

.templates-editor-list-ul {
  padding: 0;
  margin: 0;
  margin-left: 16px;
  list-style-type: initial;
}

.editor-form-element {
  border-bottom: 1px solid black;
  width: 200px;
  display: inline-block;
  justify-content: center;
  text-align: center;
}

.editor-table {
  border-collapse: collapse;
  border-spacing: 0;
  overflow-y: scroll;
  overflow-x: scroll;
  table-layout: fixed;
  width: max-content;
  margin: 0px 0px 30px 0;
  outline: none;
  width: 100%;
  min-height: 40px;
}

.editor-table-cell {
  border: 1px solid #bbb;
  width: 75px;
  min-width: 75px;
  vertical-align: top;
  text-align: start;
  padding: 0px 8px;
  position: relative;
  outline: none;
}

.editor-table-cell:first-of-type {
  padding: 0px;
  padding-right: 8px;
}

.editor-table-cell:last-of-type {
  padding: 0px;
  padding-left: 8px;
}

.editor-table-cell-header {
  text-align: start;
  font-weight: 400;
  background-color: #fff;
}

.editor-table-cell-action-button-container {
  display: block;
  right: 5px;
  top: 6px;
  position: absolute;
  z-index: 4;
  width: 20px;
  height: 20px;
}

.editor-table-cell-action-button {
  background-color: #eee;
  display: block;
  border: 0;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  color: #222;
  cursor: pointer;
}

.editor-table-cell-action-button:hover {
  background-color: #ddd;
}

.richtext-styling {
  div {
    margin-bottom: 20px;
  }

  h2 {
    margin: 15px 0px;
    font-size: 22px;
  }

  img {
    margin: 15px 0px;
  }
}

.gmail-renderings * {
  font-size: 14px !important;
  color: #475467 !important;
  font-weight: normal !important;
}

@media (min-width: 1023px) and (max-width: 1180px) {
  .responsive-fix {
    display: none;
  }
}

@media (max-width: 460px) {
  .responsive-fix {
    display: none;
  }
}

// body {
//   transform: scale(0.9);
//   transform-origin: top left;
//   width: 111.11vw;
//   min-height: 111.11vh;
//   overflow: hidden;
// }

.rmsc .dropdown-content {
  z-index: 5 !important;
}

.break-word {
  word-break: break-word;
}

.email-area {
  scroll-behavior: smooth;
}

.rmsc .options {
  max-height: 212px !important;
}
