$onboarding__progress-dot-color: #d8dae5;
$onboarding__progress-dot-color--active: #9db5ff;
$onboarding__description-color: #474d66;
$main-sidebar-color: #4a90e2;
$main-sidebar-menu--active: #40b9b4;
$main-page-background-color: #f8f9fc;
$intent-danger: #fdf4f4;
$intent-warning: #fffaf1;
$intent-success: #f5fbf8;
$intent-success-v2: #eef8f4;
$intent-success-v3: #dcf2ea;
$intent-success-v4: #b8f1dd;
$p-400-color: #101840;
$border-color: #edeff5;
$screen-xs: 380px;
$screen-sm: 640px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1280px;
$screen-2xl: 1536px;
