.client-details-wrapper {
  box-shadow: 0px 20px 25px -5px #0000001a;
  background-color: white;
  min-height: calc(100vh - 69px);
  // height:
  // height: 85vh;
}

.client-details-page-wrapper {
  z-index: 99;
}
