.section {
  padding: 150px 0;

  @media screen and (max-width: $screen-lg) {
    padding: 150px 24px;
  }

  @media screen and (max-width: $screen-md) {
    padding: 105px 24px;
  }

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    @media screen and (max-width: $screen-md) {
      align-items: flex-start;
      text-align: left;
    }
  }

  &__top-description {
    color: #6B7280;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin: 20px 0 32px 0;
  }

  &__tabs {
    width: 315px;
    height: 38px;
    padding: 2px;
    background-color: #F3F4F6;
    border-radius: 6px;
    display: flex;
    margin-bottom: 104px;

    @media screen and (max-width: $screen-md) {
      margin-bottom: 50px;
    }
  }

  &__tabs-item {
    color: #374151;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    border-radius: 6px;
    cursor: pointer;
    flex: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;

    &--active {
      background-color: #FFF;
    }
  }

  &__cards {
    display: flex;
    justify-content: center;
    gap: 50px;

    @media screen and (max-width: $screen-lg) {
      gap: 15px;
    }

    @media screen and (max-width: $screen-md) {
      flex-direction: column;
      gap: 40px;
    }

    & > div:nth-child(2) {
      margin-top: -40px;
      margin-bottom: 40px;

      @media screen and (max-width: $screen-md) {
        margin: 0;
      }
    }
  }
}
