.contact-funnels-page{
    .table-functionality{
        padding: 15px 0px;
        .table-functionality__other-functionality{
            >*{
                margin-right: 40px;
                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }
    .table-wrapper{
        .table-header-item{
            border-right: 1px solid $border-color;
            padding: 25px;
            min-width: 220px;
            width: 100%;
            &:last-child{
                border-right: none;
            }
        }
        .table-wrapper__table-content{
            display: flex;
            .table-column{
                border-right: 1px solid $border-color;
                min-width: 220px;
                width: 100%;
                &:last-child{
                    border-right: none;
                }
            }
        }
    }
}

