$onboarding__progress-dot-color: #D8DAE5;
$onboarding__progress-dot-color--active: #9DB5FF;
$onboarding__description-color: #474D66;
$main-sidebar-color: #4A90E2;
$main-sidebar-menu--active: #40B9B4;
$main-page-background-color: #f8f9fc;
$intent-danger: #fdf4f4;
$intent-warning: #FFFAF1;
$intent-success: #F5FBF8;
$intent-success-v2: #EEF8F4;
$intent-success-v3: #DCF2EA;
$intent-success-v4: #b8f1dd;
$p-400-color: #101840;
$border-color: #EDEFF5;